<div class="is-divider" data-content="&copy; 2018 Chiropractie van Leeuwen"></div>
<footer class="footer has-background-white">
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <a href="https://www.stichtingchiropractie.nl/"><img class="img-fluid" src="/assets/images/stichting_chiropractie_nederland_logo.jpg" alt="Stichting Chiropractie Nederland" /></a>
        </div>
        <div class="column">
            <a href="https://www.nca.nl/"><img class="img-fluid" src="/assets/images/NCA_Logo-nieuw.jpg" alt="Nederlandse Chiropractoren Associatie" /></a>
        </div>
        <div class="column"></div>
    </div>
</footer>