<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="dropdown-navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" style="font-weight:bold;">Chiropractie van Leeuwen</a>
            <span class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown">
                    <a class="navbar-link">Chiropractie</a>
                    <div class="navbar-dropdown">
                        <a href="/chiropractie.html" class="navbar-item">Wat is chiropractie</a>
                        <a href="/klachten.html" class="navbar-item">Bij welke klachten?</a>
                        <a href="/eerste_bezoek.html" class="navbar-item">Uw eerste bezoek</a>
                        <a href="/behandeling.html" class="navbar-item">De behandeling</a>
                        <a href="/lid.html" class="navbar-item">Lid van NCA en SCN</a>
                    </div>
                </div>
                <a href="/zwanger.html" class="navbar-item">Zwanger</a>
                <a href="/baby_en_kind.html" class="navbar-item">Baby & kind</a>
                <a href="/praktijk.html" class="navbar-item">De praktijk</a>
                <a href="/team.html" class="navbar-item">Het team</a>
                <a href="/vragen.html" class="navbar-item">Vragen</a>
            </div>
        </div>
    </div>
</nav>
