---
layout: default
---
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">{{ page.title }}</h1>
            <h2 class="subtitle is-3">{% if page.subtitle %}{{ page.subtitle }}{% endif %}</h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container content">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                {{ content }}
            </div>
        </div>
    </div>
</section>
<section class="section has-background-info">
    <div class="container">
        <div class="columns">
            <div class="column"><a href="/chiropractie.html" class="button is-primary is-rounded">Wat is chiropractie?</a></a></div>
            <div class="column"><a href="/klachten.html" class="button is-primary is-rounded">Bij welke klachten?</a></a></div>
            <div class="column"><a href="/eerste_bezoek.html" class="button is-primary is-rounded">Uw eerste bezoek</a></div>
            <div class="column"><a href="/behandeling.html" class="button is-primary is-rounded">De behandeling</a></div>
            <div class="column"><a href="/lid.html" class="button is-primary is-rounded">Lid van NCA en SCN</a></div>
        </div>
    </div>
</section>

